body {
    width: 905px;
    margin: 0 auto;
}
#wrapper {
    background-color: #d4d1b1;
    width: 85%;
    margin: 0 auto;
    display: inline-block;
    /* border: 1px solid red; */
}
#head {
    /* border: 1px solid red; */
    display: inline-block;
    width: 100%;
}
#head_wrap {
    width: 70%;
    margin-left: 120px;
    /* border: 1px solid blue; */
    display: inline-block;
    align-content: center;
}
#main_content {
    width: 99%;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    display: inline-block;
    /* border: 1px solid blue; */
}
.col1, .col3, .col5{
    background-color: #8bb4e9;
    width: 125px;
    height: 125px;
    border: 5px solid black;
    margin: 1px;
    display: inline-block;
    clear: both;
}
.col2, .col4{
    background-color:#e37174;
    width: 150px;
    height: 125px;
    border: 5px solid black;
    margin: 1px;
    display: inline-block;
}
#title {
    width: 270px;
    display: inline-block;
    float: left;
    margin-top: 30px;
}
.img {
    width: 100px;
    margin-left: 12px;
    margin-top: 12px;
}
#catandninja, #github {
    width: 100px;
    display: inline-block;
    float: left;
    margin: 0 auto;
}